<div class="panel panel-primary" id="project_<%= project.id %>">
  <div class="panel-heading">
    <div class="div-project-name">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;
      <%= project.name %>
    </div>
    <div class="div-project-options" style="color: #fff">
      <%= link_to project_path(project), method: :delete, remote: true, data: { confirm: "Are you sure?" }, id: "delete_project_#{project.id}" do%>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div> 
  </div>
</div> 