<div class="row">
  <div class="col-md-8 col-md-offset-2" id="project_list" >
    <%= render @projects %>
  </div>
</div>

<%= form_for @project, remote: true do |f| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="input-group">
      <%= f.text_field :name, placeholder: "Enter Project name", autofocus: true, class: "form-control", required: true %>
      <div class="input-group-btn">
        <%= f.submit "Create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

