@import "bootstrap";

body {
  background: url('https://img3.goodfon.ru/original/1024x1024/7/16/fon-svetlyy-izgiby-vektor.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.signin-signup {
  text-align: right;
}

.h2 {
  text-align: center;
}
