@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  padding-top: 60px;
  background: url('http://wallpaperlayer.com/img/2015/6/simple-gray-background-8449-8772-hd-wallpapers.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.div-project-name {
  display:inline;
} 

.div-project-menu-btns {
  float: right;
  a {
    color: #fff;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}

