<header class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
  <div class="navbar-header">
      <%= link_to "Managers TODO Lists", root_path, id: "logo", class: "navbar-brand" %>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_manager.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li> 
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
    <% else %>
      <li>
         <%= link_to "No manager signed", root_path %>
      </li>
    <% end %>
  </ul>
  </div>
</header>